body {
    margin: 0;
    padding: 0;
    color: #545454;
}
html, body {
    height: 100%;
}
h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
}

a, p, button {
    font-family: 'Raleway', sans-serif;
}

hr {
    width: 7%;
    border: none;
    margin: 0 auto;
    border-top: 8px #ccc dotted;
}

/* ############## COMMON STYLES ################## */

.div_content {
    width: 90%;
    max-width: 600px;
    /* background-color: darkgray; */
    text-align: center;
    padding: 5px;
    margin: 50px auto;
    box-sizing: border-box;
}

.section_heading {
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* ############## HEADER ################## */

.div_head {
    background-image: url(../images/background-head.jpg);
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-repeat: no-repeat;
}

.div_head h1 {
    line-height: 200%;
}

/* ############## NAV BAR ################## */

.div_head .nav_bar {
    height: 56px;
    width: 100%;
    /* background-color: lightgrey; */
    /* box-sizing: border-box; */
    position: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
}

.scrolled {
    background-color: black;
    transition: background-color 300ms linear;
}

.hidden {
    visibility: hidden;
    transition: background-color 400ms linear;
}

.div_head .nav_bar ul {
    list-style-type: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.div_head .nav_bar li {
    display: inline-block;
    width: 32%;
    height: 100%;
    /* padding: 18px; */
    text-align: center;
    box-sizing: border-box;
}

.div_head .nav_bar li:hover {
    border-bottom: 3px cornsilk solid;
    transition: border-bottom 100ms linear;
    cursor: pointer;
}

.div_head .nav_bar a {
    color: cornsilk;
    width: 100%;
    height: 100%;
    padding: 18px;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: 0.1em;
}

#main_heading {
    /* font-size: 2.7em; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.div_head .content {
    box-sizing: border-box;
    height: 100%;
    padding-top: 200px;
    text-align: center;
    color: cornsilk;
    letter-spacing: 0.2em;
    /* backdrop-filter: blur(8px); */
}

.div_head .content h3 {
    margin-top: 100px;
}

/* ############## MIDDLE ################## */

.container1 {
    padding-top: 60px;
    width: 90%;
}

.container1 img {
    width: 80%;
}

.container1 h3 {
    margin-top: 5px;
    /* margin-bottom: 100px; */
    font-size: 24px;
    text-transform: none;
    font-family: Helvetica, sans-serif;
    line-height: 140%;
    letter-spacing: 0.1em;
}

.container2 ul {
    list-style: none;
    padding: 0;
}

.container2 li {
    margin: 80px 5px;
}

.container2 li:first-child {
    margin-top: 30px;
}

.container2 li:last-child {
    margin-bottom: 30px;
}

.box p {
    line-height: 180%;
    font-size: 18px;
}

.icon {
    width: 20%;
}


/* ############## WORK ################## */
#work {
    padding-top: 60px;
}

.work_box {
    /* border: 3px black solid; */
    padding: 10px 0;
    margin: 0 auto 30px auto;
    width: 90%;
    box-shadow: 0px 0px 10px 0.5px #ccc;
}

.work_box h3,h2,h4 {
    letter-spacing: 0.1em;
    padding: 0px;
}

.work_box hr {
    width: 100%;
    border: 0.5px #ccc solid;
}

.work_box p {
    padding: 20px;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.1em;
}

.work_box h4 {
    color: #393e46;
}

/* ############## CONTACT ################## */

.div_contact {
    text-align: center;
    margin-top: 100px;
    background-color: gainsboro;
    width: 100%;
    padding: 100px 0 5px 0;
}

.div_contact ul {
    list-style: none;
    padding: 10px;
}

.div_contact li {
    display: inline-block;
    padding: 30px;
}

.div_contact h3 {
    position: relative;
    top: 50px;
}

form input, textarea {
    display: block;
    margin: 10px auto;
    width: 40%;
}

form input {
    font-size: 18px;
    text-align: center;
}

.span1,.span2,.span3 {
    opacity: 0;
}

.span1 {
    animation-name: show;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
}

.span2 {
    animation-name: show;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 2s;
}

.span3 {
    animation-name: show;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 2s;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
 

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */


/* ############## ANIMATIONS ################## */
#heart {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    margin-left: 8px;
    background-color: purple;
    transform: rotate(-45deg) scale(1);
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#heart::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    border-radius: 50%;
    height: inherit;
    width: inherit;
    background-color: inherit;
}

#heart::before {
    position: absolute;
    content: '';
    top: -50%;
    left: 0;
    border-radius: 50%;
    height: inherit;
    width: inherit;
    background-color: inherit;
}

#MadeBy {
    margin-top: 30px;
    display: inline-block;
}

#MadeBy h4 {
    display: inline-block;
}

@keyframes pulse {
    from{
        transform: rotate(-45deg) scale(1.1);
    }
    to {
        transform: rotate(-45deg) scale(0.9);
    }
}

.social_logo:hover {
    transform: scale(1.1);
}
